.song-detail {
    background-color: #6F7681;

    .song-title {
        color: #FF80DF;
        font-size: 16px;
        font-weight: bold;
    }

    .song-label {
        color: #000;
        font-size: 14px;
        font-weight: bold;
    }

    .song-text {
        color: #FFF;
        font-size: 14px;
    }
}